html {
    background-color: #1c454e;
}

body {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    flex-direction: row;
    
    color: black;
    min-height: 95vh;
    width: 99%;
}

h4 {
    font-size: 20px;
    text-align: center;
}

.tete {
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: #f5f5f54a;
    border: solid;
    border-width: 0px;
    border-radius: 5px;
    border-color: #ffffff;
    height: 95%;
}

.menu {
    display: flex;
    padding: 0px;
    margin: 5px;
}

.menu li {
    list-style-type: none;

}

.menu a {
    display: block;
    min-width: 200px;
    padding: 10px;
    margin: 3px;
    text-align: center;
    background-color: #36393E;
    color: #fff;
    text-decoration: none;
    border: 2px solid #36393E;
    border-radius: 32px;
}

.menu a:hover {
    background-color: #848992;
    color: #36393E;
}

header {
    display: flex;
    flex: 1;
}


.nom {
    margin-left: 50px;
    width: 217px;
    display: flex;
    flex: 1;
}

.barre {
    display: flex;
    flex: 3;
}

.vide {
    display: flex;
    flex: 1;
}
.linkedin{
    color: black;

}
footer {
    display: flex;
    flex-direction: row;
    flex: 1;
    align-items: center;
    justify-content: space-around;
}


h1 {
    color: #ffffff;
    font-size: 25px;
    text-shadow: 1px 1px 2px #444444, 0 0 1em #555555, 0 0 0.2em #aaaaaa;
}

p a {
    color: #00b0d8;
}

a {
    color: #ffffff;
    text-decoration: none;
}

.lienA {
    color: #00b0d8;
}

.centre {
    flex-direction: row;
    display: column;
    flex: 2;
}

.logo{
    text-align: center;
}
.cadre {
    background-color: #c5c5c5;
    border: solid;
    border-color: #36393E;
    border-radius: 10px;
    margin: 5px;
    border-width: 0px;
    margin-left: 20px;
    width: 97%;
}


.inner-row1 h2 {
    text-align: center;
}

.inner-row1 {
    flex-direction: row;
    display: flex;
    flex: 3;
}

p {
    padding-left: 15px;
    padding-right: 15px;
}

.tt {
    display: flex;
    flex-direction: column;
    flex: 4;
    background-color: #c5c5c5;
    border: solid;
    border-color: #36393E;
    border-width: 0px;
    border-radius: 10px;
    margin: 5px;
    line-height: 30px;
    padding: 5px;
}

.dd {
    display: flex;
    flex-direction: column;
    flex: 10;
    background-color: #c5c5c5;
    border: solid;
    border-color: #36393E;
    border-width: 0px;
    border-radius: 10px;
    margin: 5px;
    line-height: 30px;
    padding: 5px;
}

.jeu {
    text-align: center;
    width: 100%;
}

.jeu img {
    width: 100%;
    
}

.donnee {
    text-align: center;
    width: 100%;
}

.donnee img {
    width: 100%;
}

.entreprise {
    text-align: center;
    width: 100%;
}

.entreprise img {
    width: 49%;
}

.danse {
    text-align: center;
    width: 100%;
}

.danse img {
    width: 100%;
}

.keptPet {
    text-align: center;
    width: 100%;
}

.keptPet img {
    width: 100%;
}

.poste {
    text-align: center;
    width: 100%;
}

.poste img {
    width: 100%;
}

button {
    display: inline-block;
    background-color: #1c454e;
    border-radius: 15px;
    transition: 0.5s;
    color: #fff;
    padding: 10px;
    margin: 10px;
    margin-left: 15%;
    margin-right: 15%;
}

button:hover {

    background-color: #00819e;
    transition: 0.5s;
}

.photo {
    height: 50vh;
    width: auto;
    display: flex;
    justify-content: center;
}

@media screen and (min-width:801px) {
    .buttonH{
        display: none;
    }
}

@media screen and (max-width:800px) {
    header {
        display: flex;
        flex-direction: column-reverse;

    }
    .inner-row1{
        flex-direction: column;
    }
    body{
        display: inline;
        overflow-x: hidden;
        font-size: 14px;
    }
    .nom {
        margin-left: 33%;
    }
    .tete{
        height: 100%;
    }
    .menu {
        display: inline-block;
        flex: 1;
        align-items: center;
    }

    .cadre {
        height: 100%;
        width: 48vh;
    }
    ul{
        padding-left: 15px;
    }
    article{
        line-height: 20px;
    }
    footer {
        display: flex;
        flex-direction: column;
    }
    .jeu {
        text-align: right;
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    
    .jeu img {
        width: 100%;
        max-height: none;
    }
    
    .donnee {
        text-align: left;
        display: flex;
        flex-direction: column;
        width:100%;
    }
    
    .donnee img {
        width: 100%;
        max-height: none;
    }
    
    .entreprise {
        text-align: left;
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    
    .entreprise img {
        width: 100%;
        max-height: none;
    }

    .danse {
        text-align: left;
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    
    .danse img {
        width: 100%;
        max-height: none;
    }
    
    .keptPet {
        text-align: left;
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    
    .keptPet img {
        width: 100%;
        max-height: none;
    }
    
    .poste {
        text-align: left;
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    
    .poste img {
        width: 100%;
        max-height: none;
    }
    .linkedin{
        margin-bottom: 10px;
    }

}