html {
    background-color: #28292c;
}

body {
    font-family: Century Gothic, sans-serif;
    flex-direction: row;
    display: flex;
    color: black;
    min-height: 95vh;
    width: 99%;
}


.tete {
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: #5a5f67;
    border: solid;
    border-radius: 5px;
    border-color: #36393E;
}

.menu {
    display: flex;
    padding: 0px;
    margin: 5px;
}

.menu li {
    list-style-type: none;

}

.menu a {
    display: block;
    min-width: 200px;
    padding: 10px;
    text-align: center;
    background-color: #36393E;
    color: #fff;
    text-decoration: none;
    border: 2px solid #36393E;
}

.menu a:hover {
    background-color: #848992;
    color: #36393E;
}

header {
    display: flex;
    flex: 1;
}

.nom {
    margin-left: 50px;
    width: 10px;
    display: flex;
    flex: 1;
}

.barre {
    display: flex;
    flex: 3;
}

.vide {
    display: flex;
    flex: 1;
}

footer {
    display: flex;
    flex-direction: row;
    flex: 1;
    align-items: center;
    justify-content: space-around;
}


h1 {
    color: #c9b0d1;
    font-size: 25px;
    text-shadow: 1px 1px 2px #444444, 0 0 1em #555555, 0 0 0.2em #aaaaaa;
}

p a{
    color: #ad32ff;
}
a {
    color: #ffffff;
    text-decoration: none;
}
.lienA{
    color: #ad32ff;
}

.centre {
    flex-direction: row;
    display: column;
    flex: 2;
}


.cadre {
    background-color: #c5c5c5;
    border: solid;
    border-color: #36393E;
    border-radius: 10px;
    margin: 5px;
    margin-left: 20px;
    width: 100%;
}


.inner-row1 h2 {
    text-align: center;
}

.inner-row1 {
    flex-direction: row;
    display: flex;
    flex: 3;
}

p{
    padding-left: 15px;
    padding-right: 15px;
}

article {
    display: block;
    flex-direction: row;
    flex: 4;
    background-color: #c5c5c5;
    border: solid;
    border-color: #36393E;
    border-radius: 10px;
    margin: 5px;
    margin-left: 20px;
    line-height: 30px;
    padding: 5px;
}


.jeu {
    text-align: center;
    width: 60em;
}

.jeu img {
    max-height: 310px;
}
.donnee {
    text-align: center;
    width: 67em;
}

.donnee img {
    max-height: 333px;
}

.entreprise{
    text-align: center;
    width: 67em;
}
.entreprise img{
    max-height: 449px;
}
.keptPet{
    text-align: center;
    width: 67em;
}
.keptPet img{
    max-height: 394px;
}
.poste{
    text-align: center;
    width: 57em;
}
.poste img{
    max-height: 449px;
}

button {
    display: inline-block;
    background-color: rgb(97, 69, 128);
    border-radius: 15px;
    transition: 0.5s;
    color: #fff;
    padding: 10px;
    margin: 10px;
    margin-left: 15%;
    margin-right: 15%;
}

button:hover {
    
    background-color: rgb(196, 154, 221);
    transition: 0.5s;
}

.photo {
    height: 50vh;
    width: auto;
    display: flex;
    justify-content: center;
}



@media screen and (max-width:820px) {
    header{
        display: flex;
        flex-direction: column-reverse;
        
    }
    .menu{
        display: inline-block;
        flex: 1;
        align-items: center;
    }
    
   .cadre{
       height: 100%;
       width: 100vh;
   } 
   
    footer {
        display: flex;
        flex-direction: column;
    }

}