html {
    background-color: #28292c;
}

body {
    font-family: Century Gothic, sans-serif;
    flex-direction: row;
    display: flex;
    color: black;
    min-height: 100vh;
}

input[type=search]{
    background-color:aliceblue;
    border-radius:8px;
    margin-right: 5px;
}
.outer-col-1 {
    display: flex;
    flex-direction: column;
    flex: 4;
    background-color: #5a5f67;
    border: solid;
    border-radius: 5px;
    border-color: #36393E;
}

header {
    display: flex;
    flex: 1;
}

.cadre{
    background-color: #c5c5c5;
    background-image: url("chien_bronzette.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
    border:solid;
    border-color: #36393E;
    border-radius: 10px;
    margin: 5px;
    margin-left: 20px;
    line-height: 30px;
}

header a {
    display: flex;
    flex: 1;
}

header h1 {
    display: flex;
    flex: 1;
}

.inner-row {
    flex-direction: row;
    display: flex;
    flex: 4;
}

.inner-col {
    display: flex;
    flex-direction: column;
    flex: 3;
}

article {
    display: block;
    flex-direction: row;
    flex: 1;
    background-color: #eeeeee;
    background-image: url("chien_bronzette.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
    border:solid;
    border-color: #36393E;
    border-radius: 10px;
    margin: 5px;
    margin-left: 20px;
    line-height: 30px;
}

.Description article{
    line-height: 25px;
}


aside {
    display: flex;
    flex-direction: row;
    flex: 1;
    background-color: rgb(241, 241, 241);
    border:solid;
    border-color: #36393E;
    border-radius: 10px;
    margin: 20px;
}

footer {
    display: flex;
    flex-direction: row;
    flex: 1;
    align-items: center;
    justify-content: space-around;
}

img {
    border-radius: 50%;
    border: solid;
    border-color: darkslategrey;
    margin: 10px;
}

aside div {
    display: inline-block;
}

.toto {
    display: flex;
    flex-direction: row;
    flex: 5;
    align-items: center;
}

button {
    display: inline;
    background-color: rgb(241, 241, 241);
    border-radius: 7px;
    transition: 0.5s;
    position: relative;
    left: 10px;
}

.button>button {
    font-weight: bolder;
    font-family: Century Gothic, sans-serif;
    font-size: 13px;
    width: 200px;
    height: 50px;
    justify-content: space-around;
}

button:hover {
    font-weight: bolder;
    font-size: 13px;
    background-color: rgb(145, 197, 252);
    transition: 0.5s;
}

h1 {
    color: #b0b3d1;
    text-shadow: 1px 1px 2px #444444, 0 0 1em #555555, 0 0 0.2em #aaaaaa;
}

h2 {
    padding-left: 15px;
}

h3 {
    padding-left: 15px;
}

p {
    padding-left: 15px;
}

a {
    color: #b0b3d1;
    text-decoration: none;
    margin-bottom: 10px;
    margin-top: 10px;
}

li>ul>li {
    list-style-type: "\002661\000020 ";
}

ul {
    list-style-type: "\001D25\000020 ";
    line-height: 30px;
}

table {
    padding: 20px;
    border-collapse: collapse;
    height: 100%;
    width: 100%;
}

td {
    border: 3px solid #36393E;
    text-align: center;
}

@media screen and (max-width:1000px) {
    .button {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        margin-bottom: 10px;
    }
    .button>button {
        width: 250px;
        position: relative;
        left: 0px;
    }
    .toto {
        display: flex;
        flex-direction: column;
    }
    .inner-row {
        display: flex;
        flex-direction: column;
    }
    article {
        border:solid;
        border-color: #36393E;
    }
    aside {
        border:solid;
        
        border-color: #36393E;
    }
    footer {
        display: flex;
        flex-direction: column;
    }
    .recherche {
        display: inline-block;
        margin-bottom: 10px;
        margin-right: 0px;
    }
}